.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    width: 450px;
    height:150px;
    margin-top:100px;
    margin-bottom:80px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    background-size: cover;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
  }
  label {
    
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 4px;
    grid-template-rows: auto 1fr;
    gap: 10px;
  }
  
  input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    grid-template-rows: auto 1fr;
    gap: 60px;
  }
  
  button {
    padding: 10px 16px;
    background-color: #861444;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 100px;
    margin-right: 100px;
  }
  button:hover{
    background-color: #fbbf20;
    color:#861444;
  }
  img
  {
    width: 160px;
    height: 90px;
    margin-top:50px;
    margin-right:20px;
  }
  /* .logo
  {
    display: flex;
    align-items: center;
    margin-top: 0;
  } */

  .certificate-section {
  margin-top: 20px;
  margin: 50px;
}

.certificate-section h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.certificate-iframe {
  display: block;
  margin: 0 auto; /* Center the iframe horizontally */
  width: 100%; /* Set the iframe width to fill the container */
  max-width: 100%; /* Add a max-width for responsiveness */
  height: 400px; /* Set a fixed height or adjust as needed */
  border: none; /* Remove the default iframe border */
}

/* Adjust iframe styles for mobile responsiveness */
@media (max-width: 768px) {
  .certificate-iframe {
    height: 300px; /* Adjust the height for better mobile view */
  }
}
  
 